.btn {
    width: 50px;
    height: 30px;
    margin-top: 55px;
}
.tool-text{
    margin-left: 20px;
    font-weight: 700;
}
.close-modal{
    font-weight: 700;
    font-size: large;
    margin-bottom: 100px;
}
.modal-btn{
    margin-left: 120px;
}